body {
    font-family: Helvetica, Arial, sans-serif;
    margin:0px;
    font-size: 1.5vw;
}
/* margin px are implemented clockwise e.g. 0px (top); 5px (right); 10px (bottom); 15px (left)  */
#logo {
    margin:0px;
    padding:8px;
    font-family: Ubuntu,sans-serif;
    /* box-shadow: 10px 10px 15px 5px darkred; */
    width: 35%;
    border-radius: 45%;
}

ul {
    margin:0px
}

body > header {
    background-color: forestgreen;
    color:white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;

}

#nav-ul {
    display: flex;
}

#nav-ul > li {
padding: 8px;
margin: 8px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

/* every article in the main tag is affected */
body > main article {
    width: 80%;
    margin:auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

#ing {
    text-decoration: none;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
    background-color: forestgreen;
}

img {
    border-radius: 0%;
}

body > footer {
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;   
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}